################
####frontend####
################


frontend/node_modules
frontend/dist
frontend/.env
frontend/public/images


################################
####authentification-service####
################################


authentification-service/node_modules
authentification-service/dist
authentification-service/.env


###############
####gateway####
###############

gateway/node_modules
gateway/dist
gateway/.env
