################
####frontend####
################


frontend/node_modules
frontend/dist


###############
####gateway####
###############


gateway/dist
gateway/node_modules


################################
####authentification-service####
################################


authentification-service/dist
authentification-service/node_modules


################################
####product-service####
################################


product-service/dist
product-service/node_modules