################
####frontend####
################


frontend/node_modules
frontend/dist
frontend/.env
frontend/public/images
frontend/src/assets/images


###############
####gateway####
###############


gateway/node_modules
gateway/dist
gateway/.env


################################
####authentification-service####
################################


authentification-service/node_modules
authentification-service/dist
authentification-service/.env


################################
####product-service####
################################


product-service/dist
product-service/node_modules

