.form {
    font-family: SpectralRegular;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 360px;
    padding-inline: 20px;
    border-radius: 4px;
    background-color: transparent;
    transition: 0.5s ease;
    gap: 8px;
}

.form h5 {
    font-family: Colus;
}

.form .buttons {
    font-family: Colus;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: flex-start;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 10px;
}

.form .redirect-container {
    font-family: SpectralRegular;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.form .redirect-container .redirect {
    cursor: pointer;
    text-decoration: none;
}