.form {
    font-family: RobotoRegular;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 320px;
    padding: 30px;
    border-radius: 10px;
    gap: 12px;
    box-shadow: 0 0 10px 0 #00000041;
    background-color: white;
}

.form h4 {
    font-family: RobotoRegular;
    margin-block: 10px;
}

.form .buttons {
    font-family: RobotoRegular;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: flex-start;
    justify-content: flex-end;
    gap: 10px;
    margin-bottom: 10px;
}

.form .redirect-container {
    font-family: SpectralRegular;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 10px;
}

.form .redirect-container .redirect {
    font-family: RobotoRegular;
    cursor: pointer;
    text-decoration: none;
    color: $dark;
    margin-block: 6px;
}