.categories-item {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.categories-submenu {
    h3 {
        margin: 0px;
        font-size: x-large;
        cursor: pointer;
    }
    padding: 20px;
    .subcategories-list {
        opacity: 0.5;
        padding-block: 6px;
        gap: 8px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-content: center;
    }
}