@font-face {
    font-family: SpectralRegular;
    src: url("../assets/fonts/Spectral-Regular.ttf") format("truetype");
}
@font-face {
    font-family: Colus;
    src: url("../assets/fonts/Colus.ttf") format("truetype");
}