@font-face {
    font-family: SpectralRegular;
    src: url("../assets/Spectral-Regular.ttf") format("truetype");
}
@font-face {
    font-family: Colus;
    src: url("../assets/Colus.ttf") format("truetype");
}