// It's highly recommended to change the default colors
// to match your app's branding.

$primary   : #ffffff
$secondary : #7a7a7a
$accent    : #F2C037

$dark      : #1f1f1f
$dark-page : #121212

$positive  : #21BA45
$negative  : #D6990B
$info      : #ffffff
$warning   : #F2C037

@import '~quasar-variables-styl'
