@keyframes ripple {
    0% {
        transform: scale(0);
        opacity: 1;
    }

    100% {
        transform: scale(400);
        opacity: 0;
    }
}

@keyframes pulsation {
    0% {
        transform: rotateZ(0deg);
    }

    50% {
        transform: rotateZ(3deg);
    }

    100% {
        transform: rotateZ(-3deg);
    }
}

@keyframes jump-down {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes drawSeparator {
    0% {
        width: 0%;
    }

    100% {
        width: 90%;
    }
}

@keyframes drawLogo {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes drawBeans {
    0% {
        box-shadow: 0px 0px 0px 0px transparent, 0px 0px 0px 0px transparent inset;
    }
    80% {
        box-shadow: 0px 0px 0px 3px $primary, 0px 0px 0px 2px $primary inset;
    }
    100% {
        box-shadow: 0px 0px 0px 2px $primary, 0px 0px 0px 1px $primary inset;
    }
}

@keyframes drawBeansText {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes drawBeansIcon {
    0% {
        transform: rotateZ(90deg) scale(0);
        opacity: 0;
    }
    100% {
        transform: rotateZ(0deg) scale(1);
        opacity: 1;
    }
}