@keyframes ripple {
    0% {
        transform: scale(0);
        opacity: 1;
    }

    100% {
        transform: scale(400);
        opacity: 0;
    }
}

@keyframes pulsation {
    0% {
        transform: rotateZ(0deg);
    }

    50% {
        transform: rotateZ(3deg);
    }

    100% {
        transform: rotateZ(-3deg);
    }
}

@keyframes jump-down {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}