@import "./colors.scss";
@import "./animations/animations.scss";
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

html,
body,
#__nuxt {
    margin: 0px;
    background-color: $dark;
}

.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
background-color: rgba(0, 0, 0, 0.4);
}

.dialog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $primary;
    padding: 32px;
    gap: 16px;

    input{
        padding: 12px 16px;
        font-size: large;
    }

    h2 {
        font-family: 'Nunito', sans-serif;
    }
}